body{
    margin: 0%;
    overflow-x: hidden;
}
/* navbar */

.logo_pic{
    margin-left: 0;
    margin-top: 0.97rem;
    max-width: 3.9%;
}
a{
    text-decoration: none;
    color: black;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
#sign_in{
    background-color: white;
    font-size: 1rem;
    color: white;
    padding: .5rem;
    border-color: white;
    border-radius: .5rem;
    background-color:  black;
    border-width:1.6px;
}
.header
{
    display: flex;
    margin: 0%;
    background:linear-gradient(45deg,#000000,#6c3581,#000000);
    padding-bottom: 1rem;
    
}
.left_nav{
    display: flex;
    position: relative;
    left: 2rem;
    padding-top: .5rem;
}
.logo_name{
    position: absolute;
    left: 3rem;
}
.right_nav{
    position: absolute;
    top:1.1rem;
    right: 3rem;
    word-spacing: 2.5rem;
    color: white;
    padding-top: .05rem;
}
.right_nav a{
    font-size: 1.15rem;
    color: white;
}
/* cart button */
#cart_div{
    position: sticky;
    top: 25%;
}
#cart_div a{
    list-style-type: none;
    padding: 5px;
    transition: .6s;
}
#cart_div a button img{
    width: 2rem;
    margin-left: -5px;
}

#cart_button{
    width: 4.6rem;
    padding: 15px;
    border-radius: 2rem;
    border-color: #000000;
    background-color: #4CAF50;
    color: white;
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
}
#default{
    font-size: larger;
    position: fixed;
    top: 50%;
    left: 35%;
    z-index: 5;
}
/* pop up window */
.logo_pic_1{
    margin-left:0;
    margin-top: 0.97rem; 
    max-width:80%;
}
#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}
#modal.active{
    transform: translate(-50%, -50%) scale(1);
}
.modal-inner{
    padding:10px;
    margin-left: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close_button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
    padding-right: .2rem;
    padding-top: .3rem;
    font-weight: bold;
}
#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}
input[type = email],input[type = password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.div{
    display: flex;
}
#signIn {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 40px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#signIn:hover {
    background-color: #45a049;
}
.form{
    padding: 3rem;
}
h3{
    padding-left: 4.5rem;
}
h5{
    padding-left: 5rem;
}
#signup{
    margin-left: -15px;
    margin-top: -30px;
}
#signup_1:hover{
    text-decoration: underline;
}

form{
    padding: 4rem;
}


#profile{
    display: none;
    background-color: white;
    font-size: 1rem;
    color: white;
    padding: .5rem;
    border-color: white;
    border-radius: .5rem;
    background-color:  black;
    border-width:1.6px;
}
.avatar-wrapper {
    display: none;
    padding-right: 5px;
    position: relative;
    width:50%;
    top:20px;
    right: -14rem;
  }
  
  @media (max-width: 480px) {
    .avatar-wrapper {
      padding-right: 1rem;
    }
  }
.avatar {
    text-align: center;
    margin-top: 0.35rem;
    width: 25px;
  }
  
  .log-popover {
    visibility: visible;
    z-index: 460;
    display: block;
    overflow: visible;
    top: 121px;
    left: 375.063px;
    bottom: 10px;
    transition: opacity 0.2s linear;
    color: #333333;
    min-width: 100px;
    box-sizing: border-box;
    outline: none;
    max-width: 100%;
    max-height: 84px;
    min-height: 2rem;
    overflow: hidden;
    background: #ffffff;
    border: none;
    box-shadow: 0 0.625rem 1.875rem 0 rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
  
  .log-popover button {
    color: black;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  .log-popover button:hover {
    background-color: #f0f0f0;
  }
  
  .log-popover button:active,
  .log-popover button:focus {
    background: #e8eff6;
    outline: 1px dotted #000000;
    outline-offset: -2px;
  }
  
  .log-popover:after,
  .log-popover:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  
  .log-popover:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
  }
  
  .log-popover:before {
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: #333333;
    border-width: 11px;
    margin-left: -11px;
  }
  
  .log-toolContainer {
    position: absolute;
    height: 100%;
    width: 80%;
    top: 100%;
    left: 0;
    transform: translateX(calc(-50% + 12.5px));
  }
  

/* cart section */
.outer_div{
    display: none;
}
.cart{
    flex: 2;
    margin-left: 1rem;                                                         
}
h2{
    text-align: center;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 30%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 25%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.cart-quantity-input {
    height: 34px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 350px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

.cart-total-price {
    color: #333;
    font-size: 1.5em;
    color: black;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.profile{
    width: 20%;
    text-align: center;
}

.prof1{
    display: flex;
}
.prof3{
    font-weight: 900;
}
p{
    text-align: left;
    font-size: larger;
}
.prof2{
    flex:2;
    font-weight: 200;
}
